#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#greeting-container {
    margin-top: 20px;
}

#tom {
    width: 50px;
    height: 50px;
    position: absolute;
}

#container{
    width: 400px;
    height: 400px;
    position: relative;
}

#selfPresentation{
    float: right ;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

#profilePic{
    width: 157px;
    height: 210px;
    float: left;
    margin-top: 70px;
    margin-bottom: 220px;
    border-radius: 50%;
}

#aboutMe{
    display:grid;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    clear: both;
}

#projects{
    display:grid;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.grid-proj {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(255, 255, 255);
}

.proj {
    padding:100px;
    padding-bottom: 20px;
}

.proj img:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.proj img{
    width: 170px;
    height: 170px;
    transition: opacity .5s ease;
    border-radius: 50%;
    border: 15px solid black;
}

.presentation{
    font-size: 20px;
}

.description{
    position: relative;
    text-align: center;
}

.searchingBar{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(0, 0, 0);
}

.searchingItem{
    color: white;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.postbody p{
    float: left ;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

.postbody img{
    width: 157px;
    height: 210px;
    float: left;
    margin-top: 70px;
    margin-bottom: 220px;
    border-radius: 50%;
}

post{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    clear: both;
}

#blog{
    display: grid;
    grid-template-columns: auto;
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.logos img{
    margin-top: 15px;
    margin-left: 15px;
    height: 29px;
    float: right;
}

#gallery{
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 550px;
    display: grid;
    grid-template-columns: 20px auto 20px;
}

#gleft{
    background-color: grey;
    transition: opacity .5s ease;
}

#gleft:hover{
    opacity: 0.5;
}

#gright{
    background-color: grey;
    transition: opacity .5s ease;
}

#gright:hover{
    opacity: 0.5;
}

#photos{
    background-color: black;
}

#photo{
    height: 550px;
}

.searchingItem:hover{
    color: rgb(0, 247, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.icon {
    float: left;
    padding-top: -20px;
    padding-bottom: 20px;
    box-shadow: 0 0 3px #fff, inset 0 0 10px #fff;
    cursor: pointer;
    font-size: 1.8em;
    -webkit-font-smoothing: antialiased;
    line-height: 0.1rem;
    text-shadow: 0px 0px 0px #fff;
        -webkit-transition: .3s;
            -moz-transition: .3s;
                -o-transition: .3s;
                -ms-transition: .3s;
                    transition: .3s;
}

.icon:hover {
    margin: -15px 1px;
    margin-left: inherit;
}

button{
    margin-top: 15px;
    background-color: black;
    box-shadow: grey;
    transition: all 0.2s ease-in-out;
}

button:hover{
    color: rgb(0, 247, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}